<h2>
  <%= @list.name %>
</h2>

<%= render 'items/form' %><br>

<div class="table-responsive">
  <table class="table table-condensed table-bordered">
    <thead>
    <tr>
      <th width="70%">produto</th>
      <th width="30%" class="text-right">preço</th>
      <td width="10px" colspan="2"></td>
    </tr>
    </thead>

    <tbody>
    <% if @items.any? %>
        <% @items.each do |p| %>
            <tr>
              <td><%= p.product %></td>
              <td class="text-right"><%= number_to_currency(p.price, unit: 'R$ ', separator: ',', delimiter: '') %></td>
              <td><%= link_to (fa_icon 'pencil').to_s, edit_price_path(p) %></td>
              <td><%= link_to (fa_icon 'trash').to_s, price_path(p), method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
        <% end %>
    <% else %>
        <tr class="text-center">
          <td colspan="4">Nenhum item encontrado.</td>
        </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr>
      <th></th>
      <td class="text-right"><%= number_to_currency(@items.sum(:price), unit: 'R$ ', separator: ',', delimiter: '') %></th>
      <td colspan="2"></td>
    </tr>
    </tfoot>
  </table>
</div>


<div class="hr"></div>
<%= link_to (fa_icon 'pencil').to_s, edit_list_path(@list), :class => 'btn btn-primary' %>
<%= link_to (fa_icon 'arrow-left').to_s, lists_path, :class => 'btn btn-default' %>