<h2>
  <%= @list.name %>
  <small><%= @list.store.name %></small>
</h2>

<div class="panel panel-default">
  <div class="panel-heading" id="add-item"><%= t('add_', model: Item.model_name.human) %></div>
  <div class="panel-body" id="add-body" style="display: none;">
    <%= render 'items/form' %>
  </div>
</div>

<!--div class="table-responsive"-->
<table class="table table-hover table-condensed">
  <tbody>
  <tr>
    <th>
      <div class="row">
        <div class="col-xs-3"><%= Item.human_attribute_name(:product) %></div>
        <div class="col-xs-4 text-right"><%= Item.human_attribute_name(:price) %></div>
        <div class="col-xs-2 text-right"><abbr title="<%= Item.human_attribute_name(:amount) %>">[-]</abbr></div>
        <div class="col-xs-3 text-right"><%= Item.human_attribute_name(:total) %></div>
      </div>
    </th>
  </tr>
  <% @list.items.order('product').each do |p| %>
      <tr>
        <td colspan="4" style="padding: 0;">
          <div class="drag_row drag_line" data-id="<%= p.id %>" style="background:#fff!important; height: 30px; -ms-touch-action: none;">
            <div class="row">
              <div class="col-xs-12"><%= p.product %></div>
            </div>
            <div class="row">
              <%= form_for p do |f| %>
                  <div class="col-xs-7 text-right">
                    <span class="fm-text" id="label_price_<%= p.id %>"><abbr title="<%= t 'click_to_edit' %>"><%= number_to_currency(p.price) %></abbr></span>
                    <%= f.number_field :price, :class => 'form-control input-sm', :id => "input_price_#{p.id}", :style => "display: none;" %>
                  </div>
                  <div class="col-xs-2 text-right">
                    <span class="fm-text" id="label_amount_<%= p.id %>"><abbr title="<%= t 'click_to_edit' %>"><%= number_with_delimiter(p.amount) %></abbr></span>
                    <%= f.number_field :amount, :class => 'form-control input-sm', :id => "input_amount_#{p.id}", :style => "display: none;" %>
                  </div>
                  <div class="col-xs-3 text-right"><%= number_to_currency(p.total) %></div>
              <% end %>
            </div>
          </div>
          <div class="drag_left drag_line" id="drag_left_<%= p.id %>" style="display: none;">
            <%= link_to (fa_icon 'trash').to_s, item_path(p), method: :delete, style: 'display: none;' %>
            <p>O edit</p></div>
          <div class="drag_right drag_line" id="drag_right_<%= p.id %>" style="display: none;">
            <%#= link_to (fa_icon 'trash').to_s, item_path(p), method: :delete, data: {confirm: 'Are you sure?'}, style: 'display: none;' %>
            <%= link_to (fa_icon 'trash').to_s, item_path(p), method: :delete, style: 'display: none;' %>
            <p>delete <i class="fa fa-trash"></i></p></div>
        </td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <% if @list.items.blank? %>
      <tr class="text-center">
        <td colspan="4"><%= raw t('no_record', model: Item.model_name.human) %></td>
      </tr>
  <% end %>
  </tfoot>
</table>
<!--/div-->

<br class="clearfix">

<% content_for :outcontainer do %>
    <div class="footer-show">
      <div class="container-fluid">
        <%= link_to raw(t('btn_back', model: Item.model_name.human)), lists_path, :class => 'btn btn-default' %>
        <h4 class="pull-right"><%= Item.human_attribute_name(:total) %>
          : <%= number_to_currency(@list.items.sum(:total)) %></h4>
      </div>
    </div>

    <div id="container-modal" class="modal fade" tabindex="-1" role="dialog"></div>

    <script type="text/javascript">
      $(function () {
        $('#add-item').css('cursor', 'pointer');
        $("#add-item").click(function () {
          $("#add-body").fadeToggle();
        });

        $(".fm-text").click(function () {
          var x = $(this).attr('id').split('_');
          var label = '#label_' + x[1] + '_' + x[2];
          var input = '#input_' + x[1] + '_' + x[2];

          $(label).toggle();
          $(input).toggle();
          $(input).focus();

          var antevalor = $(input).val();

          $(input).blur(function () {
            $(label).toggle();
            $(input).toggle();

            if (antevalor != $(input).val())
              $("#edit_item_" + x[2]).submit();
          });
        });


        //compare
        $('#compare-btn').on('click', function () {
          var pdf_link = '/compare';
          var iframe = '<iframe id="iframe1" class="iframe" src="' + pdf_link + '"></iframe>';
          $.createModal({
            title: 'comparar',
            message: iframe,
            closeButton: true,
            saveButton: true,
            scrollable: false
          });
          return false;
        });
      });


      var x = 0;
      var x2 = 0;
      var commit_at = $(window).width() * 0.2;

      $('.drag_row').draggable({
        revert: true, axis: "x", scroll: false,
        start: function () {
          x = $(this).position().left;
        },
        drag: function () {
          x2 = $(this).position().left;
          if (x2 > x) {
            $('#drag_left_' + $(this).data("id")).show();
            $('#drag_right_' + $(this).data("id")).hide();
            //return false;//remove for 2 sides slide
          } else {
            $('#drag_left_' + $(this).data("id")).hide();
            $('#drag_right_' + $(this).data("id")).show();
          }
        }, stop: function () {

          $('#drag_left_' + $(this).data("id")).hide();
          $('#drag_right_' + $(this).data("id")).hide();

          if (x2 > (x + commit_at)) {
            $(this).hide();
            edit($(this).data("id"));
          }
          if (x2 < (x - commit_at)) {
            $(this).hide();
            del($(this).data("id"));
          }
        }
      });

      $('.drag_row').css('-ms-touch-action', 'none');

      function del(id) {
        $('#drag_right_' + id).find('a').click();
      }
      function edit(id) {
        $('#drag_left_' + id).find('a').click();
      }
    </script>
<% end %>