<%= form_for @store do |f| %>

    <% if @store.errors.any? %>
        <div id="error_explanation" class="well-sm bg-danger" style="margin-bottom: 20px">
          <h4>
            <%= @store.errors.count  %>
            <%= 'erro precisa ser corrigido' if @store.errors.count == 1 %>
            <%= 'erros precisam ser corrigidos' if @store.errors.count > 1 %>
          </h4>
          <ul class="list-unstyled">
            <% @store.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, 'nome', :class => 'control-label' %>
      <%= f.text_field :name, :class => 'form-control', :required => true %>
    </div>

    <div class="form-group">
      <%= f.label :description, 'descrição', :class => 'control-label' %>
      <%= f.text_area :description, :class => 'form-control' %>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <%= f.label :latitude, 'latitude', :class => 'control-label' %>
          <%= f.text_field :latitude, :class => 'form-control' %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <%= f.label :longitude, 'longitude', :class => 'control-label' %>
          <%= f.text_field :longitude, :class => 'form-control' %>
        </div>
      </div>
    </div>

    <p>
      <a href="#" id="geome" class="btn btn-info">obter minha localização</a>
    </p>


    <div class="hr"></div>
    <%= button_tag((fa_icon 'floppy-o').to_s, type: 'submit', :class => 'btn btn-primary') %>
    <%= link_to (fa_icon 'arrow-left').to_s, stores_path, :class => 'btn btn-default' %>
<% end %>



<% content_for :script do %>
    <script type="text/javascript">
      function locationHandler(position) {
        $('#store_latitude').val(position.coords.latitude);
        $('#store_longitude').val(position.coords.longitude);
      }

      $("#geome").click(function () {
        navigator.geolocation.getCurrentPosition(locationHandler);
      });
    </script>
<% end %>