<h2><%= @stores.model_name.human %></h2>

<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <tbody>
    <tr>
      <th width="70%"><%= Store.human_attribute_name(:name) %></th>
      <th width="15%"><%= Store.human_attribute_name(:latitude) %></th>
      <th width="15%"><%= Store.human_attribute_name(:longitude) %></th>
      <th width="1px" colspan="3"></th>
    </tr>
    <% @stores.each do |store| %>
        <tr>
          <td><%= store.name %></td>
          <td><%= store.latitude %></td>
          <td><%= store.longitude %></td>
          <td><%= link_to (fa_icon 'eye').to_s, store_path(store) %></td>
          <td><%= link_to (fa_icon 'pencil').to_s, edit_store_path(store) %></td>
          <td><%= link_to (fa_icon 'trash').to_s, store_path(store), method: :delete, data: {confirm: t(:prompt_to_delete)} %></td>
        </tr>
    <% end %>
    </tbody>
    <tfoot>
    <% if @stores.blank? %>
        <tr class="text-center">
          <td colspan="6"> <%= raw t(:no_record, model: Store.model_name.human) %></td>
        </tr>
    <% end %>
    </tfoot>
  </table>
</div>

<%= paginate @stores %>

<% content_for :footer_buttons do %>
    <%= link_to raw(t('btn_add', model: Store.model_name.human)), new_store_path, :class => 'btn btn-primary' %>
<% end %>