<%= form_for @price do |f| %>

    <% if @price.errors.any? %>
        <div id="error_explanation" class="well-sm bg-danger" style="margin-bottom: 20px">
          <h4>
            <%= @price.errors.count %>
            <%= 'erro precisa ser corrigido' if @price.errors.count == 1 %>
            <%= 'erros precisam ser corrigidos' if @price.errors.count > 1 %>
          </h4>
          <ul class="list-unstyled">
            <% @price.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group form-group-sm">
      <%= f.label :product, :class => 'control-label' %>
      <div class="input-group">
        <%= f.collection_select(:product_id, Product.all, :id, :name, {}, {:class => 'form-control'}) %>
        <span class="input-group-btn">
          <%= link_to (fa_icon 'plus').to_s, new_product_path, :class => 'btn btn-default' %>
        </span>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <%= f.label :store, :class => 'control-label' %>
      <div class="input-group">
        <%= f.collection_select(:store_id, Store.all, :id, :name, {}, {:class => 'form-control'}) %>
        <span class="input-group-btn">
          <%= link_to (fa_icon 'plus').to_s, new_store_path, :class => 'btn btn-default' %>
        </span>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <%= f.label :price, :class => 'control-label' %>
      <div class="input-group">
        <div class="input-group-addon">R$</div>
        <%= f.number_field :price, :class => 'form-control', :step => 0.05, :required => true %>
      </div>
    </div>

    <hr/>
    <%= button_tag(raw(t('btn_save', model: Price.model_name.human)), type: 'submit', :class => 'btn btn-primary') %>
    <%= link_to raw(t('btn_back', model: Price.model_name.human)), prices_path, :class => 'btn btn-default' %>
<% end %>