<h2>precos</h2>

<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <tr>
      <th width="35%">produto</th>
      <th width="35%">loja</th>
      <th width="30%" class="text-right">preco</th>
      <th width="16px"></th>
      <th width="16px"></th>
      <th width="16px"></th>
    </tr>

    <% if @prices.any? %>
    <% @prices.each do |p| %>
        <tr>
          <td><%= p.product.nil? ? '' : p.product.name %></td>
          <td><%= p.product.nil? ? '' : p.product.name %></td>
          <td class="text-right"><%= number_to_currency(p.price, unit: 'R$ ', separator: ',', delimiter: '') %></td>
          <td><%= link_to (fa_icon 'eye').to_s, price_path(p) %></td>
          <td><%= link_to (fa_icon 'pencil').to_s, edit_price_path(p) %></td>
          <td><%= link_to (fa_icon 'trash').to_s, price_path(p), method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
        <% end %>
    <% else %>
        <tr class="text-center">
          <td colspan="5">Nenhum preco encontrado.</td>
        </tr>
    <% end %>
  </table>

  <div class="text-center">
    <%= paginate @prices %>
  </div>

</div>

<%= link_to (fa_icon 'plus').to_s, new_price_path, :class => 'btn btn-primary' %>