<%= form_for @item, html: {class: "form-inline"} do |f| %>

    <% if @item.errors.any? %>
        <div id="error_explanation" class="well-sm bg-danger" style="margin-bottom: 20px">
          <h4>
            <%= @item.errors.count %>
            <%= 'erro precisa ser corrigido' if @item.errors.count == 1 %>
            <%= 'erros precisam ser corrigidos' if @item.errors.count > 1 %>
          </h4>
          <ul class="item-unstyled">
            <% @item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group form-group-sm">
      <%= f.label :product, 'produto', :class => 'control-label sr-only' %>
      <%= f.autocomplete_field :product, autocomplete_product_name_items_path(:store_id => @list.store.id), :update_elements => {:price => '#item_price'}, :class => 'form-control target_change item-product', :required => true, :placeholder => 'produto' %>
    </div>
    <div class="form-group form-group-sm item-price">
      <%= f.label :price, 'preço', :class => 'control-label sr-only' %>
      <div class="input-group">
        <div class="input-group-addon">R$</div>
        <%= f.number_field :price, :class => 'form-control target_change', :step => 0.01, :required => true, :placeholder => 'preço' %>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <%= f.label :amount, 'quantidade', :class => 'control-label sr-only' %>
      <%= f.number_field :amount, :class => 'form-control target_change item-amount', :required => true, :placeholder => 'qtd' %>
    </div>
    <div class="form-group form-group-sm item-total">
      <%= f.label :total, 'total', :class => 'control-label sr-only' %>
      <div class="input-group">
        <div class="input-group-addon">R$</div>
        <%= f.text_field :total, :class => 'form-control target_change', :required => true, :placeholder => 'total', :readonly => true %>
      </div>
    </div>
    <%= button_tag((fa_icon 'plus').to_s, type: 'submit', :class => 'btn btn-default') %>

<% end %>


<% content_for :script do %>
    <script type="text/javascript">
      function updprc() {
        if ($('#item_amount').val() == "")
          $('#item_amount').val(1);

        $('#item_total').val($('#item_price').val() * $('#item_amount').val());
      }

      $(".target_change").change(function () {
        updprc()
      });
      $(".target_change").blur(function () {
        updprc()
      });
    </script>
<% end %>