<%= form_for @item do |f| %>

    <% if @item.errors.any? %>
        <div id="error_explanation" class="well-sm bg-danger" style="margin-bottom: 20px">
          <h4>
            <%= @item.errors.count %>
            <%= 'erro precisa ser corrigido' if @item.errors.count == 1 %>
            <%= 'erros precisam ser corrigidos' if @item.errors.count > 1 %>
          </h4>
          <ul class="item-unstyled">
            <% @item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row add-row">
      <div class="col-xs-12 col-sm-3">
        <%= f.hidden_field :list_id, :value => @list.id %>

        <%= f.label :product, :class => 'control-label' %>
        <div class="input-group">
          <%= f.autocomplete_field :product, autocomplete_product_name_items_path(:store_id => @list.store.id), :update_elements => {:price => '#item_price'}, :class => 'form-control target_change', :required => true, :placeholder => Item.human_attribute_name(:product) %>
          <span class="input-group-btn">
            <td><%= link_to raw(t :btn_compare), compare_path, remote: true, class: 'btn btn-default' %></td>
          </span>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= f.label :price, :class => 'control-label' %>
        <%= f.number_field :price, :class => 'form-control target_change', :step => 0.01, :required => true, :placeholder => Item.human_attribute_name(:price) %>
      </div>
      <div class="col-xs-6 col-sm-2">
        <%= f.label :amount, :class => 'control-label' %>
        <%= f.number_field :amount, :class => 'form-control target_change', :step => 'any', :required => true, :placeholder => Item.human_attribute_name(:amount) %>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= f.label :total, :class => 'control-label' %>
        <%= f.number_field :total, :class => 'form-control target_change', :required => true, :placeholder => Item.human_attribute_name(:total), :readonly => true %>
      </div>
      <div class="col-xs-12 col-sm-1">
        <%= button_tag(raw(t('btn_add', model: Item.model_name.human)), type: 'submit', :class => 'btn btn-default', :style => 'margin-top:25px') %>
      </div>
    </div>
<% end %>


<% content_for :outcontainer do %>
    <script type="text/javascript">
      function updprc() {
        if ($('#item_amount').val() == "")
          $('#item_amount').val(1);

        $('#item_total').val($('#item_price').val() * $('#item_amount').val());
      }
      $(document).ready(function () {
        $(".target_change").change(function () {
          updprc()
        });
        $(".target_change").blur(function () {
          updprc()
        });
      });
    </script>
<% end %>