<%= form_for @product do |f| %>

    <% if @product.errors.any? %>
        <div id="error_explanation" class="well-sm bg-danger" style="margin-bottom: 20px">
          <h4>
            <%= @product.errors.count  %>
            <%= 'erro precisa ser corrigido' if @product.errors.count == 1 %>
            <%= 'erros precisam ser corrigidos' if @product.errors.count > 1 %>
          </h4>
          <ul class="list-unstyled">
            <% @product.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group" form-group-sm>
      <%= f.label :name, :class => 'control-label'%>
      <%= f.text_field :name, :class => 'form-control', :required => true  %>
    </div>

    <div class="form-group form-group-sm">
      <%= f.label :alias, :class => 'control-label' %>
      <%= f.text_field :alias, :class => 'form-control' %>
    </div>


    <hr/>
    <%= button_tag(raw(t('btn_save', model: Product.model_name.human)), type: 'submit', :class => 'btn btn-primary') %>
    <%= link_to raw(t('btn_back', model: Product.model_name.human)), stores_path, :class => 'btn btn-default' %>
<% end %>