<p>
  <strong><%= Product.human_attribute_name(:name) %>:</strong>
  <%= @product.name %>
</p>

<p>
  <strong><%= Product.human_attribute_name(:alias) %>:</strong>
  <%= @product.alias %>
</p>

<% content_for :footer_buttons do %>
    <%= link_to raw(t('btn_edit', model: Product.model_name.human)), edit_product_path(@product), :class => 'btn btn-primary' %>
    <%= link_to raw(t('btn_add', model: Product.model_name.human)), new_product_path, :class => 'btn btn-default' %>
    <%= link_to raw(t('btn_back', model: Product.model_name.human)), products_path, :class => 'btn btn-default' %>
<% end %>